.bg-green{
    background: green;
}
.border-solid{
    border:20px solid black
}
.border-dotted{
    border:10px dotted black;
}
.padding{
    padding: 10px;
}
.color{
    color:black;
}
.text-align{
    text-align: center;
}
.font-weight{
    font-weight: 600px;
}
.hight{
    height: 75vh;
}
.inner-paddingtop{
    padding-top: 30px;
}
.inner-padding{
    padding-left: 320px;
    padding-right: 320px;;
}
.font-size{
    font-size: 30px;
}